<div class="sheet actor add2e personnage add2e-character-v3">
  <input type="hidden" class="a2e-active-tab-input" name="flags.add2e.activeSheetTab" value="{{activeTab}}">
  <div class="a2e-shell">
    {{> "systems/add2e/templates/actor/parts/character-header.hbs"}}
    {{> "systems/add2e/templates/actor/parts/character-caracs-saves.hbs"}}
    {{> "systems/add2e/templates/actor/parts/character-tabs.hbs"}}

    <main class="sheet-body">
      {{> "systems/add2e/templates/actor/parts/tab-resume.hbs"}}
      {{> "systems/add2e/templates/actor/parts/tab-combat.hbs"}}
      {{> "systems/add2e/templates/actor/parts/tab-capacites.hbs"}}
      {{> "systems/add2e/templates/actor/parts/tab-sorts.hbs"}}
      {{> "systems/add2e/templates/actor/parts/tab-effets.hbs"}}
      {{> "systems/add2e/templates/actor/parts/tab-equipement.hbs"}}
      {{> "systems/add2e/templates/actor/parts/tab-notes.hbs"}}
    </main>
  </div>
</div>